p {
    width: 60%;
}

img {
    width: 300px;
}

.cat1 {
    position: relative;
    top: 50px;
    left: 100px;
}

.cat2 {
    position: absolute;
    right: 10px;
    top: 15px;
}

.cat3 {
    position: static;
    bottom: 0px;
    right: 150px;
}

.link {
    position: fixed;
    bottom: 0;
    right: 0;
}