/* List style */

.list1 {
    list-style-type: circle;
}

.list2 {
    list-style-type: square;
}

.list3 {
    list-style-type: upper-latin;
}

.list4 {
    list-style-type: upper-roman;
}

.list5 {
    list-style-image: url(./image/square-rounded-16.gif);
    width: 200px;
}

.list6 {
    list-style-image: url(./image/square-rounded-16.gif);
    width: 200px;
    list-style-position: inside;
}


/* Table style */

table {
    margin: 0 auto;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

tr:nth-child(odd) {
    background-color: lightgray;
}

.tableheader {
    background-color: crimson !important;
    color: white;
}

img {
    width: 70px;
}

th {
    padding: 10px 30px;
}

td {
    padding: 30px 30px;
}

tr:hover {
    background-color: orange;
}


/* Forms style */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
fieldset {
    background-color: #eee;
    width: 200px;
    /* height: 500px; */
    margin: 100px auto;
    text-align: center;
    border-radius: 20px 0 20px 0;
    padding: 0 25px;
    border: none;
    font-family: "Roboto", sans-serif;
}

h1 {
    margin: 20px 0 0 0;
}

.yellow {
    color: #fec123;
}

form {
    display: flex;
    flex-direction: column;
    /* height: 400px; */
    text-align: left;
}

input {
    margin: 0 0 20px 0;
    border: 0.5px solid gray;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px 5px;
    cursor: pointer;
}

.btn {
    background-color: #c1392b;
    color: white;
    border: none;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    cursor: url(./image/arrow-137-16.gif), auto;
}